#contenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 89dvh;
  font-family: 'poppins', sans-serif;
  overflow: hidden;
}

#contenu h1 {
  font-weight: 200;
  margin: 30px;
  font-size: clamp(2em, 4vw + 16px, 16em);
  color: white;
  margin-bottom: 90px;
}

#contenu a {
  color: white;
  text-decoration: none;
  border: solid 2px white;
  font-weight: 600;
  border-radius: 50px;
  padding: 12px 48px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

#contenu a::before {
  position: absolute;
  top: 0;
  right: -2px;
  background: white;
  width: 102%;
  height: 102%;
  border-radius: 45px;
  content: '';
  mix-blend-mode: color-burn;
  transition: all 0.2s ease-in-out;
}

#contenu a:hover {
  outline: none;
  color: black;
  mix-blend-mode: screen;
}

#contenu div {
  text-align: center;
  margin-bottom: 160px;
}
