body {
  background-color: #e2e2e2;
}

#contenu {
  display: flex;
  flex-direction: column;
  font-family: 'poppins', sans-serif;
}

#apropos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
