#contenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  font-family: poppins, sans-serif;
  color: white;
}

#contenu h1 {
  font-weight: 300;
  margin: 24px;
  font-size: 4em;
}

#contenu h3 {
  font-weight: 500;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 90px;
}

#contenu a {
  color: white;
  text-decoration: none;
  border: solid 2px white;
  font-weight: 600;
  border-radius: 50px;
  padding: 12px 48px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

#contenu a::before {
  position: absolute;
  top: 0;
  right: -1px;
  background: white;
  width: 101%;
  height: 100%;
  border-radius: 45px;
  content: '';
  mix-blend-mode: color-burn;
  transition: all 0.2s ease-in-out;
}

#contenu a:hover {
  outline: none;
  color: black;
  mix-blend-mode: screen;
}
