#contenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenu ul {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 100px;
  list-style: none;
  display: flex;
  align-items: center;
}

#contenu li {
  margin: 50px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}

img {
  width: 6.5em;
  transition: all 0.2s ease-in-out;
}

li:hover img {
  transform: scale(1.08);
}
