body {
  background: black url('../images/fond-écran.jpg') no-repeat center center
    fixed;
  background-size: cover;
  margin: 0;
}

.no-scroll {
  /* overflow: auto; */
}

#blocpage {
  width: 74%;
  margin: 0 10%;
  height: 75px;
}

@media screen and (max-width: 1200px) {
  #blocpage {
    width: 100vw;
    height: auto;
    margin: 0;
  }
}

#contenu {
  min-height: calc(100vh - 75px);
}

.page-on {
  text-transform: uppercase;
  font-weight: 800 !important;
}

/* Header */

html {
  font-family: Poppins, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 720px) {
  #blocpage {
    width: 100%;
  }

  header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80% 20%;
    align-items: center;
  }
}

header span {
  color: rgb(166, 166, 166);
}

header a {
  color: black;
  text-decoration: none;
  justify-self: auto !important;
}

header img {
  width: 216px;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  height: 28px;
  margin-right: 5%;
}

#burger-button-open,
#burger-button-close {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  float: right;
  display: none;
}

#burger-button-open {
  background-image: url('../images/burger.png');
}

#burger-button-close {
  background-image: url('../images/cross.png');
  align-self: flex-end;
  margin-right: 10vw;
  margin-top: 10vw;
}

#dropdown {
  display: none;
  flex-direction: column;
  /* align-items: center; */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/fond-écran.webp');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}

#dropdown-menu {
  display: none;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  padding-top: 20%;
  align-items: center;
  row-gap: 2em;
}

#dropdown-menu li a {
  color: white;
  text-decoration: none;
  font-size: 28px;
  text-align: center;
  font-weight: 200;
}

#dropdown-menu li a:hover {
  font-weight: 800;
}

@media screen and (max-width: 720px) {
  nav {
    display: none;
  }

  #burger-button-open {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  #burger-button-open,
  #burger-button-close,
  #dropdown,
  #dropdown-menu {
    display: none;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5%;
  height: 28px;
}

@media screen and (max-width: 1200px) {
  nav ul {
    column-gap: 2%;
  }
}

nav li {
  list-style-type: none;
  height: 28px;
}

nav li a {
  text-align: center;
  display: flex;
  width: 90px;
  height: 28px;
  max-height: 28px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid transparent;
}

nav li a:not(.page-on) {
  font-weight: 200;
}

nav li a:hover {
  border-bottom: 1px solid black;
}

/* Autres articles */

.possibilities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4em;
  margin: 4em 0;
}

.possibilities h2 {
  font-size: 24px;
  font-weight: 300;
}

.other-articles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  gap: 1em;
}

.article {
  width: 320px;
  height: 120px;
  position: relative;
  display: block;
}

@media screen and (max-width: 720px) {
  .other-articles {
    width: 95%;
    gap: 1em;
  }

  .article {
    width: 100%;
    overflow: hidden;
    height: 10em;
  }
}

.article img {
  width: 100%;
  aspect-ratio: 10 / 4;
  object-fit: scale-down;
  filter: brightness(0.2);
  transition: filter 200ms ease-in-out;
  background-color: white;
}

.article:hover img {
  filter: brightness(0.1);
}

.article span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  text-align: center;
  width: 60%;
  line-height: 48px;
}
