body {
  background: black url('../images/fond-écran.jpg') no-repeat center center
    fixed;
  background-size: cover;
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

#blocpage {
  width: 74%;
  margin: 0 10%;
  height: 75px;
}

@media screen and (max-width: 1200px) {
  #blocpage {
    width: max-content;
    height: auto;
    margin: 0;
  }
}

#contenu {
  min-height: calc(100vh - 75px);
}

.page-on {
  text-transform: uppercase;
  font-weight: 800;
}

/* Header */

html {
  font-family: Poppins, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 720px) {
  #blocpage {
    width: 100%;
  }

  header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 80% 20%;
    align-items: center;
  }
}

header span {
  color: rgb(166, 166, 166);
}

header a {
  color: black;
  text-decoration: none;
  justify-self: auto !important;
}

header img {
  width: 216px;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  height: 28px;
}

#burger-button {
  display: none;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  float: right;
}

#dropdown-menu {
  position: fixed;
  inset: 75px 0 0 0;
  display: none;
  flex-direction: column;
  z-index: 100;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
  padding-top: 20%;
  align-items: center;
  row-gap: 2em;
}

#dropdown-menu li a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  text-align: center;
}

#dropdown-menu li a:hover {
  font-weight: 800;
}

@media screen and (max-width: 720px) {
  nav {
    display: none;
  }

  #burger-button {
    display: block;
  }
}

@media screen and (min-width: 720px) {
  #dropdown-menu {
    display: none;
  }
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5%;
  height: 28px;
}

@media screen and (max-width: 1200px) {
  nav ul {
    column-gap: 2%;
  }
}

nav li {
  list-style-type: none;
  height: 28px;
}

nav li a {
  text-align: center;
  display: flex;
  width: 156px;
  height: 28px;
  max-height: 28px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid transparent;
}

nav li a:not(.page-on) {
  font-weight: 600;
}

nav li a:hover {
  border-bottom: 1px solid black;
}
